.checkbox-container{
	padding-top: 10px;
	padding-bottom: 10px;

}


label{

	width:40px;
	height:10px;
	
	
	
	
	cursor: pointer;



}

input{
	
	
	
}



@media(min-width: 768px){

.checkbox-container{
		
		width:33.3%;
		
		
	}

	/*.checkbox-container:last-of-type{
		width:100%;
	}*/

}