a {
	display: block;
}

.food-item{
	height:275px;
	width:50%;
	border-right:2px gray solid;
	border-bottom:2px gray solid;
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
	cursor:pointer;


}

 .food-item:nth-of-type(2){
	border-right:none;
}
.food-item:nth-of-type(4){
	border-right:none;
}
.food-item:nth-of-type(6){
	border-right:none;
}

.food-item:nth-of-type(8){
	border-right:none;
	border-bottom:2px solid gray;
}

.food-item:nth-of-type(9){
	
	border-bottom:none;
}

.food-item:nth-of-type(10){
	border-right:none;
	border-bottom:none;
}


.inner{
	padding:10% 5%;
	height:100%;
	width:100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}

.pic-and-title-container{
	flex-direction: column;
	width:100%;
}

.pic-container{
	height:160px;
	display: flex;
	justify-content: center;
	}

.pic-container img{
	max-height: 100%;
}

.title-container{
	display: flex;
	justify-content: center;
	width:100%;


}

@media screen and (min-width: 768px){

   .food-item{
	width:33.3%;
}	

.food-item:nth-of-type(3){
	border-right:none;
}


.food-item:nth-of-type(9){
	border-right:none;
}


.food-item:nth-child(even){
	border-right:2px solid grey;
}

/* this is placed below to override the line above  */
.food-item:nth-of-type(6){
	border-right:none;
}

.food-item:nth-of-type(7){
	border-bottom:none;
}

.food-item:nth-of-type(8){
	
	border-bottom:none;
}

.food-item:nth-of-type(10){
	
	border-right:2px solid gray;
	border-top:2px solid gray;
}




.pic-container {

	height:190px;

}

}